body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    color: #262f32;
    font-size: 15.57px;
    line-height: 29px;
}

h2 {
    font-weight: 300;
    font-size: 45px;
}

.weight-black {
    font-weight: 900;
}

/******Header******/
header {
    display: flex;
}

.header-img {
    flex-basis: 908px;
    min-height: 715px;
    background-image: url("img/header-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header .white {
    flex-basis: 458px;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: #f3f3f3;
}

header h1 {
    margin: 121px 111px 70px 56px; 
    font-size: 40px;
    font-weight: 400;
    line-height: 58px;
}

header h1 .span-ali {
    font-weight: 300;
}

header h1 .span-web-designing {
    font-weight: 700;
}

header p {
    margin: 70px 50px 121px 56px;
    font-size: 18px;
}

/******Menu******/
.menu {
    position: relative;
}

.menu-btn {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 52px;
    left: 50px;
    background-color: transparent;
}

.menu-btn span {
    position: absolute;
    top: 18px;
    left: 4px;
    width: 33px;
    height: 3px;
    background-color: #3a4245;
}

.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    content: "";
    width: 33px;
    height: 3px;
    background-color: #3a4245;
    transition-duration: 0.3s;
}

.menu-btn span::before {
    transform: translateY(-10px);
}

.menu-btn span::after {
    transform: translateY(10px);
}


.menu-btn_active span::before {
    width: 20px;
    transform: rotate(-35deg);
    transform-origin: left bottom;
}

.menu-btn_active span::after {
    width: 20px;
    transform: rotate(35deg);
    transform-origin: left top;
}

.menu nav {
    position: absolute;
    top: 28px;
    left: -315px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: #f3f3f3;
    border-radius: 2px;
    display: flex;
    transition: 0.9s;
    transform: scale(0);
    transform-origin: right 15%;
}

.menu nav .nav-item {
    text-decoration: none;
    color: #262f32;
    font-size: 30px;
    line-height: 55px;
    font-weight: 300;
    padding: 0 5px;
    margin-bottom: 12px;
    transition: 0.2s;
}

.menu nav .nav-item:hover {
    border-bottom: 2px solid #DFC090;
}

.menu nav .nav-item:active {
    border-radius: 2px;
    background-color: #DFC090;
    color: #f3f3f3;
}

.menu nav .nav-item-current {
    border-bottom: 2px solid #DFC090;
}

.menu-btn_active ~ nav {
    transform: scale(1);
}

/******Main******/
main {
    display: flex;
    height: 853px;
}

main .blue {
    flex-basis: 614px;
    background-image: url(img/blue-bg.png);
    color: white;
}

main .blue .drawing-scketch {
    margin: 72px 88px 81px 59px;
}

main .blue .making-design {
    margin: 81px 88px 80px 59px;
}

main .blue .developing-product {
    margin: 80px 88px 59px 59px;
}

main .blue .drawing-scketch h2,
main .blue .making-design h2,
main .blue .developing-product h2 {
    margin-bottom: 48px;
}

main .group {
    flex-basis: 753px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

main .group .yellow {
    flex-basis: 428px;
    background-image: url(img/yellow-bg.png);
    background-size: cover; 
}

main .group .yellow .best-starting {
    margin: 72px 163px 71px 54px;
}

main .group .black .verified-dummy {
    margin: 71px 163px 75px 54px;
}

main .group .black {
    flex-basis: 426px;
    background-image: url(img/black-bg.png);
    background-size: cover;
    color: white;
}

main .btn {
    margin: 0 auto 0 54px;
    border: 1px solid #262f32;
    border-radius: 10px;
    padding: 18px 40px 21px 40px;
    text-decoration: none;
    box-sizing: border-box;
    color: #262f32;
    font-size: 16.57px;
}

main .black .btn {
    border-color: white;
    color: white;
}

main .yellow .btn:active {
    background-color: #262f32;
    color: #FFEDCB;
}

main .black .btn:active {
    background-color: white;
    color: #262f32;
}

/******Footer******/
footer {
    display: flex;
    height: 716px;
}

footer .designed {
    flex-basis: 458px;
    background-image: url(img/designed-bg.png);
    color: white;
    position: relative;
}

footer .designed h2 {
    margin: 75px 65px 0 47px;
}

footer .designed h2 span {
    display: block;
    padding-top: 35px;
}

footer .logo {
    position: absolute;
    top: 444px;
    left: 47px;
    font-size: 16.57px;
}

footer .logo h3 {
    font-size: 42px;
    font-weight: 900;
    margin: 34px 0 30px 0;
}

footer .sayhello {
    flex-basis: 908px;
    flex-grow: 1;
    background-image: url(img/sayhello-bg.png);
    background-size: cover; 
    color: white;
    font-size: 16.57px;
}

footer .sayhello h2 {
    margin: 75px 0 60px 0;
}

footer .sayhello h2,
footer .sayhello form,
footer .sayhello p,
footer .sayhello .social-buttons {
    margin-left: 52px;
}

footer .sayhello form {
    width: 621px;
    height: 232px;
}

footer .sayhello form input,
footer .sayhello form textarea {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: white;
    border: 1px solid white;
    font-family: "Roboto", sans-serif;
    font-size: 16.57px;
}

::placeholder {
    color: white;
    font-family: "Roboto", sans-serif;
}

footer .sayhello form input {
    width: 39.8%;
    margin-bottom: 13px;
    padding: 15px 27px 15px 27px;

}

footer .sayhello form input:first-child {
    margin-right: 10px;
}

footer .sayhello form textarea {
    width: 91%;
    padding: 10px 27px 10px 27px;
    line-height: 32px;
}

footer .sayhello .stay-connected {
    margin-top: 95px;
    margin-bottom: 24px;
}

footer .sayhello .social-buttons {
    width: 146px;
    height: 46px;
    margin-bottom: 48px;
    display: flex;
}

footer .sayhello .social-buttons .facebook,
footer .sayhello .social-buttons .dribbble,
footer .sayhello .social-buttons .twitter {
    width: 44.47px;
    height: 45px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

footer .sayhello .social-buttons .facebook {
    background-color: #345bb4;
    margin-right: 7px;
    background-image: url(img/Facebook.png);
}

footer .sayhello .social-buttons .dribbble {
    background-color: #e64895;
    margin-right: 7px;
    background-image: url(img/Dribbble.png);
}

footer .sayhello .social-buttons .twitter {
    background-color: #00b4ff;
    background-image: url(img/Twitter.png);
}

/******media******/
@media (max-width: 1366px) {
    h2 {
        font-size: 36px;
    }

    main .blue .drawing-scketch {
        margin: 60px 55px 50px 55px;
    }

    main .blue .making-design {
        margin: 50px 55px;
    }
    
    main .blue .developing-product {
        margin: 50px 55px 60px 55px;
    }

    main .group .yellow .best-starting {
        margin: 60px 30px 80px 50px;
    }

    main .group .black .verified-dummy {
        margin: 60px 30px 80px 50px;
    }

    footer .designed h2 {
        margin-left: 40px;
        margin-right: 40px;
    }

    footer .logo h3 {
        font-size: 33px;
    }

    footer .sayhello h2,
    footer .sayhello form,
    footer .sayhello p,
    footer .sayhello .social-buttons {
        margin-left: 40px;
    }
}

@media (max-width: 1019px) {
    .header-img {
        display: none;
    }

    header .white {
        background-image: url(img/header-img-mobile2.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    header .white h1 {
        text-align: right;
        color: #f3f3f3;
        padding-bottom: 50px;
    }

    .menu-btn_active span::before {
        transform: translate(11px) rotate(35deg);
        transform-origin: right bottom;
    }

    .menu-btn_active span::after {
        transform: translate(10px) rotate(-35deg);
        transform-origin: right top;
    }

    .menu nav {
        left: 110px;
        transform-origin: left 15%;
    }

    main {
        flex-direction: column;
        height: auto;
    }

    main .blue {
        background-repeat: no-repeat;
        background-size: cover;
    }

    main .group .yellow,
    main .group .black {
        flex-basis: 385px;
    }

    footer {
        flex-direction: column;
        height: auto;
    }

    footer .designed {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 60% 30%;
        max-height: 500px;
    }

    footer .logo {
        top: 40%;
        left: 70%;
    }

    footer .sayhello {
        flex-basis: 700px;
    }
}

@media (max-width: 690px) {
    header .white {
        background-image: url(img/header-img-mobile.png);
    }

    header .white h1 {
        text-align: right;
        color: #262f32;
        padding-bottom: 0;
    }

    footer .sayhello form {
        width: 80%;
    }

    footer .sayhello form input {
        width: 90%;
    }
}

@media (max-width: 480px) {
    main .btn {
        position: relative;
        bottom: 30px;
    }

    footer .logo {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        top: 70%;
        left: 40px;
    }

    footer .logo h3 {
        margin-bottom: 10px;
    }

    footer .logo img,
    footer .logo h3 {
        margin-right: 20px;
    }

    footer .logo p {
        position: relative;
        bottom: -12px;
    }
}

@media (max-width: 460px) {
    h2 {
        font-size: 28px;
    }

    header .white {
        max-width: 100%;
        background-position: 20% 50%;
    }

    header .white h1 {
        text-align: left;
        font-size: 32px;
        margin: 95px 15px 30px 25px;
        line-height: 48px;
    }

    header .white p {
        margin: 30px 15px 45px 15px;
    }

    header .menu .menu-btn {
        left: 25px;
    }

    header .menu nav {
        width: 240px;
        left: 75px;
        transform-origin: left 15%;
    }

    main .blue {
        max-width: 100%;
    }

    main .blue .drawing-scketch,
    main .blue .making-design,
    main .blue .developing-product,
    main .group .yellow .best-starting,
    main .group .black .verified-dummy,
    footer .designed h2 {
        margin: 30px 15px;
    }

    main .btn {
        bottom: 0;
    }

    footer .designed h2 span {
        padding-top: 10px;
    }

    footer .logo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 35%;
        left: 25%;
    }

    footer .logo p {
        top: 0;
        left: -10px;
        margin-top: 0;
    }

    footer .sayhello form {
        width: 65%;
    }

    footer .sayhello form input {
        width: 91%;
    }
}